openai>=0.27.2
anthropic>=0.2.8
cohere>=4.3.1
transformers>=4.27.4
tenacity==8.2.2
gradio==3.34.0
ffmpy==0.3.0
rich==13.3.3
prompt_toolkit==3.0.38
pettingzoo>=1.23.1
chess>=1.9.4
langchain>=0.0.135
pdf2image>=1.16.3
pytesseract>=0.3.10
